html {
  background-color: black;
}

* {
  color: white;
  text-align: center;
}

.libre-baskerville-regular {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: normal;
}

.libre-baskerville-bold {
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
}

.libre-baskerville-regular-italic {
  font-family: "Libre Baskerville", serif;
  font-weight: 400;
  font-style: italic;
}

div {
    margin-top: 10%;
  margin-left: 25%;
  width: 50%;
}

h1 {
  text-transform: uppercase;
  margin-bottom: 0px;
}

p {
  margin-top: 5px;
}

img {
  border: 5px solid white;
  width: 100%;
}
